.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 802px;
  height: 802px;
  border: 1px solid rgba(0, 99, 132, 0.5);

  box-shadow: 5px 10px 8px rgba(0, 99, 132, 0.5);
}

.grid-item {
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .rock {
  background-color: gray;
}

.paper {
  background-color: white;
}

.scissors {
  background-color: silver;
} */
